body{
    background: #fffefe;
}
/* Aqui empieza CSS de Nico */
#imagenmanosescribiendo{
    width: 350px;
    height: 350px;
    border-radius: 50%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(../img/2.jpg);
}
.card {
    max-width: 400px;
    width: auto;
    border: none;
  }
.card-group{
    justify-content: space-between;
}
.pdenico{
    font-size: 22px;
}
.card-title{
    font-size: 30px;
    color: rgb(101, 123, 204);
}
.service{
    margin-bottom: 100px;
}
.porfolio{
    margin-bottom: 20px;
}
h1{
    font-size: 45px;
}
/* Aqui termina CSS de nico */

#Walter{ 
    width: 350px; 
    height: 350px;
    border-radius: 50%;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url(../img/1.jpg);
}