<div class="first-heading" style="display: flex; background-position: center;">
    <div class="text-heading">
        <h1 style="display: inline-block;"> This First Heading </h1>
        <h1 style="color: gray; display: inline-block;">Will Catch Your Eye</h1>
        <p class="pdenico">
            Donec ullamcorper nulla on metus auctor fringilla. Vestibulum id ligula porta felis
            <br>
            euismod semper. Praesent commodo cursus magna, vel scelerisque nisl
            <br>
            consectetur. Fusce dapibus, tellus ac cursus commodo.
        </p>
    </div>
    <div class="image-heading" style="width: 300px; height: 300px; border-radius: 50%; background-position: center; background-size: contain; background-repeat: no-repeat;">
        <img src="website/assets/img/1.jpg" alt="Walter White animated">
    </div>
</div>