<div class="container service">
    <div class="first-heading" style="display: flex;">
        <div class="col-8">
            <h1 style="display: inline-block; font-size: 45px;"> This First Heading </h1>
            <h1 style="color: gray; display: inline-block;"> Will Catch Your Eye</h1>
            <p class="pdenico">
                Donec ullamcorper nulla on metus auctor fringilla. Vestibulum id ligula porta felis
                euismod semper. Praesent commodo cursus magna, vel scelerisque nisl
                consectetur. Fusce dapibus, tellus ac cursus commodo.
            </p>
        </div>
        <div class="col-4" id="Walter"></div>
    </div>
</div>