<!-- your html code here -->
<div class="container Porfolio">
    <div class="row">
        <h1 class="h1denico">Porfolio</h1>
        <p class="pdenico">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commod cursus <br> magna, vel scelerisque nisl consectetur. Fusce dapibud, tellus ac cursus commodo.</p>
    </div>
    <div class="card-group">
      <div class="card">
        <img src="/website/assets/img/big-project-image.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title text-color-success">Proyect Name</h5>
          <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi culpa, eius nostrum rem voluptatum dolor cumque.</p>
        </div>
      </div>
      <div class="card">
        <img src="/website/assets/img/big-project-image.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Proyect Name</h5>
          <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi culpa, eius nostrum rem voluptatum dolor cumque.</p>
        </div>
      </div>
      <div class="card">
        <img src="/website/assets/img/big-project-image.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Proyect Name</h5>
          <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi culpa, eius nostrum rem voluptatum dolor cumque.</p>
        </div>
      </div>
    </div>
</div>

