<!-- your html code here -->
<div class="row">

    <div class="col-3" id="imagenmanosescribiendo">

    </div>
    <div class="col-9">
        <h2 style="display: inline-block;">The Second Heading <h2 style="color: gray; display: inline-block; margin-left: 10px;">Is Pretty Cool Too.</h2></h2>
        <p>Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis<br> euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur.<br>Fusce dapibus, tellus ac cursus commodo.</p>
    </div>
</div>